body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.section-one,
.section-two {
  width: 500px; /* Largura */
  height: 200px; /* Altura */
  padding: 10px; /* padding: 10px (cima) 15px (direita) 20px (baixo) 30px (esquerdo) */
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.section-one {
  background-color: darkgray; /* Cor de Fundo */
  border: solid black; /* Borda lado neutro*/
  border-top-width: 10px;
  border-right-width: 15px;
  border-left-width: 20px;
  border-bottom-width: 25px;
}
.section-two {
  background-color: antiquewhite;
  border: 10px solid;
  border-top-color: red;
  border-right-color: blue;
  border-left-color: green;
  border-bottom-color: yellow;
}

/* Exemplo de display:block */
.bloco {
  display: block;
  background-color: lightblue;
  padding: 10px;
  margin: 5px 0;
}

/* Exemplo de display:inline */
.linha {
  display: inline;
  background-color: lightgreen;
  padding: 5px;
  margin: 5px;
}

/* Exemplo de display:inline-block */
.linha-bloco {
  display: inline-block;
  background-color: lightcoral;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  width: 120px; /* inline-block permite largura */
  height: 40px; /* e altura */
}
