/* body {
  background-color: darkgray;
  font-family: Arial, sans-serif;
}

form {
  background-color: aliceblue;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: black solid 15px;
}

label {
  display: block;
  margin-top: 10px;
} 
*/

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

form {
  background-color: red;
  max-witdh: 5000px;
  margin: 20px auto;
  padding: 20px;
  border: black solid 15px;
}